/* color palette from <https://github.com/vuejs/theme> */
@import "./vars";
@import "./mixins.scss";
@import './reset.scss';
@import './fonts.scss';

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 360 * 10);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: Gilroy;
  font-style: normal;
  line-height: normal;
  scroll-behavior: smooth;
}


.transparent-button {
  padding: 1.8rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--darkGreen);
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  background: transparent;

  
}

.transparent-button:hover {
  background: var(--darkGreen);
  color: #FFF;
  transition: all .2s;
}

.page-padding-sides {
  padding-left: 8rem;
  padding-right: 8rem;
  @include breakpoint($sm-bp) {
    padding: 0rem 2rem;
  }
}

.page-padding__center-content {
  padding: 3.8rem 36.4rem;
  @include breakpoint($xl-bp) {
    padding: 3.8rem 10.4rem;
  }
  @include breakpoint($sm-bp) {
    padding: 0.8rem 1.6rem;
  }
}

@import './header.scss';